[Unit]
Description=cjhHexo
After=network.target

[Service]
ExecStart=/home/pi/Documents/DDNS/task.sh
WorkingDirectory=/home/pi/Documents/DDNS
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target